    <style>
        body {
            font-family: Arial, sans-serif;
        }
        input[type="text"] {
            width: 65px;
            height: 20px;
        }
        input[type="button"] {
            cursor: pointer;
            width: 25px;
            height: 25px;
        }
        #result {
            margin-top: 10px;
            font-family: times new roman;
        }
        h1 {
            font-family: times new roman;
        }
        p {
            font-family: times new roman;
            font-size: 18px;
        }
    </style>
